# Ласкаво просимо до Pandas

Короткий вступ до Pandas: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [3]:
# імпортуємо бібліотеку pandas
import pandas as pd

## Імпорт даних у Pandas

In [52]:
# для легкої роботи з таблицею визначимо типи даних у колонках
columns_types = {
    'PERSON': str,
    'REG_ADDR_KOATUU': str,
    'OPER_CODE': str,
    'OPER_NAME': str,
    'D_REG': str,
    'DEP_CODE': str,
    'DEP': str,
    'BRAND': str,
    'MODEL': str,
    'MAKE_YEAR': str,
    'COLOR': str,
    'KIND': str,
    'BODY': str,
    'PURPOSE': str,
    'FUEL': str,
    'CAPACITY': str,
    'OWN_WEIGHT': str,
    'TOTAL_WEIGHT': str,
    'N_REG': str
}

In [53]:
# імпортуємо дані методом pd.read_csv
tz = pd.read_csv("tz_01_02_2019.csv", sep=";", dtype = columns_types)

In [80]:
# дрібні додаткові налаштування
tz["CAPACITY"] = pd.to_numeric(tz["CAPACITY"])
#tz["OWN_WEIGHT"] = pd.to_numeric(tz["OWN_WEIGHT"])
#tz["TOTAL_WEIGHT"] = pd.to_numeric(tz["TOTAL_WEIGHT"])
tz["MAKE_YEAR"] = pd.to_datetime(tz["MAKE_YEAR"])
tz["D_REG"] = pd.to_datetime(tz["D_REG"])

## Огляд даних

In [34]:
# переглянути початок таблиці
tz.head()

In [33]:
# переглянути кінець таблиці
tz.tail()

In [32]:
# переглянути колонки в таблиці
tz.columns

In [31]:
# відсортувати значення за однією клонкою
tz.sort_values(by='MAKE_YEAR')

In [ ]:
# описова статистика
tz.describe()

## Вибірки

In [37]:
# обрати колонку
tz['FUEL']

In [38]:
# обрати одну колонку
tz[1:5]

Using iloc, loc, & ix to select rows and columns in Pandas DataFrames: https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [43]:
# вибірка за цифровим індексом через df.iloc[<число, інтервал, номери рядків>, <число, інтервал, номери колонок>]
tz.iloc[1:3, 5:8]

In [56]:
# вибірка через df.loc[<індекс (назва рядків)>, <назви колонок>]
tz.loc[1, 'DEP']

In [54]:
# встановимо індексування за номером авто
tz.set_index("N_REG", inplace=True)

In [86]:
# тепер можна легко обирати інформацію про кожне авто
tz.loc["АІ4639НТ"]

In [94]:
tz.loc[tz["COLOR"] == "БІЛИЙ"].count()

## Розв'язання кейсу

Чи відрізняється середній вік та об'єм двигуна машин, що ввозяться з-за кордону від середнього значення.